* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #a78bfa;
  --primary-dark: #8b5cf6;
  --primary-light: #c4b5fd;
  --primary-gradient: linear-gradient(135deg, #a78bfa, #8b5cf6);
  --bg-dark: #1a1a1a;
  --text-light: #f3f4f6;
  --text-gray: #9ca3af;
  --card-bg: #252525;
  --card-hover: #2e2e2e;
  --border-radius: 12px;
  --shadow-sm: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 20px 25px rgba(0, 0, 0, 0.15);
  --border-light: rgba(255, 255, 255, 0.05);
  --bg-overlay: rgba(255, 255, 255, 0.1);
  --text-dark: #000;
  --shadow-color-primary: rgba(139, 92, 246, 0.3);
  --shadow-color-primary-hover: rgba(139, 92, 246, 0.4);
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--text-light);
  min-height: 100vh;
  line-height: 1.6;
  padding: 50px 15px;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* min-width: 1200px; */
  /* padding: 100px; */
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

header h1 {
  font-size: 2.7em;
  position: relative;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

header h1::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-gradient);
  border-radius: 2px;
  /* margin-bottom: 10px; */
  /* position: relative; */
}

header p {
  color: var(--text-gray);
  font-size: 1.1em;
}

.team-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}
.team-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  height: 100%;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-color-primary);
}

.team-card:hover profile-img {
  transform: scale(1.1);
}
